.sessions
  %h2.first ログイン
  .user
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .user__field
        = f.label :number, "ユーザーID：", class: "user__field--label"
        %br/
        = f.number_field :number, autofocus: true, autocomplete: "number", class: "user__field--form"
      .user__field
        = f.label :パスワード：, class: "user__field--label"
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "user__field--form"
      .user__actions
        = f.submit "ログイン", class: "user__actions--btn"
  %br
  %br
  .signup
    = render "devise/shared/links"